@model Book

<form method="post">

	<input type="hidden" asp-for="Id"/>

	<label>Name: </label>
	<input type="text" name="name" ast-for"Name" />

	<label>Author: </label>
	<input type="text" name="author" ast-for"Author.Name" />

	<label>Price: </label>
	<input type="number" name="price" ast-for"Price" />

	<label>CountPage: </label>
	<input type="number" name="countpage" ast-for"CountPage" />

	<input class="btn btn-warning" type="submit" />
</form>

<a asp-action="GetBooks">Go Back</a>